* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #000000; 
    color: #e0e0e0; 
}

header{
    background-color: rgb(0, 0, 0);
    height: 60px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid rgb(30, 189, 30);
}

header a{
    text-decoration: none;
}

header li {
    display: inline;
    color: white; 
    font-size: 16px; 
    margin: 0 15px; 
}

header li:hover {
    color: rgb(30, 189, 30); 
}

.logo{
    height: 37px; 
}

.rosa{
    color: rgb(255, 112, 167); 
    display: flex;
    justify-content: center;
}

.cinza{
    color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.card-produto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: #131313;
    width: 200px;
    height: auto;
    overflow: hidden;
}

.card-produto:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

.imagem-produto{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nome-produto {
    margin: 10px 0; 
}

.preco-produto {
    color: #ffffff; 
}

.verde{
    color: rgb(95, 255, 32);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.branco{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.imagemm img {
    max-width: 100%; 
    height: auto;
}

.botao {
    position: relative;
    background-color: rgb(30, 189, 30);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.botao:hover {
    background-color: rgb(104, 214, 104);
}

.preco-antigo {
    color: #999999;
    text-decoration: line-through;
}

.imagem{
    width: 180px;
    height: auto;
}

footer {
    background-color: #131313;
    color: white;
    padding: 40px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Adiciona espaço entre as colunas */
}

footer .container ul {
    width: 23%; /* Ajuste a largura conforme necessário */
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .container h3 {
    margin-bottom: 10px; /* Espaço abaixo do título */
}

footer .container li {
    margin-bottom: 10px; /* Espaço entre os itens da lista */
}

footer .container a {
    color: #e0e0e0;
    text-decoration: none;
}

footer .container a:hover {
    text-decoration: underline;
}